/*about.html styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container1 {
    margin-top: 10rem;
     height: 100vh;
     text-align: center;
 
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    height: 400px;

    

}
#heading2{
    color: red;
    font-size: 2.5rem;

}
#heading , #heading2 ,#para1{
    padding: 3px;
}
#story {  

  display: flex;
  align-items: center;       
  justify-content: center; 
  gap: 8px;                  
  margin: 20px auto;         
  width: fit-content;     
  background-color: rgb(250, 174, 187);
  height: 20px;
  border: none;
  border-radius: 7px;  
  padding: 10px;
}
#story i{
    color: rgb(246, 79, 107);
}
#story p{
    color:  rgb(246, 79, 107);
}
.container2{
    margin-top: 100px;
    display: inline-block;
    width: 50%;
    margin-left: 7rem;

    
}
.icons .icon-text {
  display: flex;
  align-items: center;    
  gap: 8px;            
  margin-bottom: 12px; 
}

.icons .icon-text p {
  margin: 0;             
}

.icons i{
    color: orange
}
#heading3{
    margin-bottom: 30px;
}

#para2{
    margin-bottom: 20px;
}

.container3{
    margin-top: 300px;
    display: inline-block;
    width: 50%;
    margin-left: 500px;

}
.team{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9rem;
    background-color: rgb(206, 161, 247);
    width: fit-content;
    padding: 5px;
    border: none;
    border-radius: 10px;
    color:rgb(92, 17, 163)
    
}

/*here is css for teacher flex */
.teachers {
    display:flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.teacher-card {
    background-color: white;
    border-radius: 10px;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex:1;
}

.container4{
margin-top: 100px;
    display: inline-block;
    width: 50%;
    margin-left: 7rem;
}





